
@import url('https://fonts.googleapis.com/css2?family=Almendra+SC&family=Libertinus+Keyboard&family=Noto+Sans+Symbols:wght@100..900&display=swap');


footer{
    font-family: 'Libertinus Keyboard','Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style: bold;
    font-size: larger;
}

