

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}

div.error{
  color: blueviolet;
  font-style: bold;
  font-weight: 700;
}



/*css rule source:https://cssgradient.io/*/
body{
  background: #EEAECA;
  background: radial-gradient(circle, rgba(238, 174, 202, 1) 56%, rgba(179, 183, 222, 1) 85%, rgba(148, 187, 233, 1) 0%);
  display: flex;
  justify-content: center; 
  align-items: flex-start;  
  padding: 2rem;


}
#root {
  width: 90%;
  max-width: 1200px;
  font-size:2rem;
}
